* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(213 , 237 , 233);
  line-height: 1.5;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
}

.box-style {
  margin: 20px auto;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 80%;
}

.line {
  margin: 20px;
}
