h3 {
    margin: 0;
}
/*corPrimária*/
div:hover:nth-of-type(2n+1) {
    border-style: solid;
}
div:hover:nth-of-type(2n) {
    border-style: solid;
}
div:nth-child(3) {
    color: yellowgreen;
}
div:nth-child(4) {
    color: aqua;
}
div:nth-child(5) {
    color: blue;
}