body {
    font-size: 16px;
}

p {
    font-family: monospace;
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

h1 {
    color: coral;
    font-family: sans-serif;
    font-size: 65px;
}     

#azul {
    color: blue;
    font-size: 50px;
}
#vermelho {
    color: red;
    font-size: 50px;
}
#verde {
    color: green;
    font-size: 50px;
}

.bg-color {
    background-color: #f1f1f1;
}